body {
    background-color: grey;
    color: black;
    font: normal 18pt Arial;
}

input {
    font: normal 18pt Arial;
    width: 140px
}
div#res {
margin-top: 20px;
}
h1 {
color: black;
}
h2{
font: 25pt Arial;
margin-bottom: 5px;
color: black
}
div#mult {
margin-top: 20px;
}

div#divi {
margin-top: 20px;
}

input[type="button"] {
  font-size: 18px;
  padding: 5px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer; }

  section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363)
}

footer {
color: white;
text-align: center;
font-style: italic;
}